{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "env": {
    "browser": true
  },
  "extends": ["react-app", "prettier"],
  "plugins": ["react", "jsx-a11y", "import", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all"
      }
    ],
    "camelcase": "off",
    "no-new": "off",
    "space-before-function-paren": "off",
    "no-plusplus": "off",
    "max-len": "off",
    "func-names": "off",
    "no-param-reassign": "off"
  }
}
