.container {
  .link-box {
    .active {
      background-color: khaki;
    }
    a {
      display: inline-block;
      width: 200px;
      background-color: antiquewhite;
      height: 30px;
      text-decoration: none;
      cursor: pointer;
      border: 1px solid;
      border-radius: 5px;
      margin-right: 10px;
    }
  }
}
